*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
}

.new{
  position: relative;
  display: inline-flex;
  padding: 10px 30px;
  background: #363636;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  width: 100%;
}

.start{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('main.jpg');
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 80px;
    z-index: 1; 
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
  }
  
  .bottomline {
    border-bottom: 4px solid #25FF01;
    color: #25FF01;
  }

  .magic{
    background-color: #2C3E50;
    transition: 0.7 all ease;
  }
  .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .logo a{
    text-decoration: none;
    list-style: none;
    color: #25FF01;
  }
  
  .menu{
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .items{
    height: 80px;
  }
  
  .links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    font-size: 1.2rem;
    transition: all 0.3s ease;
  }
  
  .links:hover{
    color: #25FF01;
    transition: 0.7s all ease;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .sign {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    height: 40px;
    color: black;
    background-color: #25FF01;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #2C3E50;
    transition: ease-out 0.7s;
    font-size: 1.2rem;
    outline: none;
  }
  
  .sign:hover{
    box-shadow: inset 300px 0 0 0 #2C3E50;
    cursor: pointer;
    color: #25FF01;
    transition: all 0.8s ease;
  }
  
  
  @media screen and (max-width: 960px) {
  
    .navbar{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        background-color: black;
      }
    
      .menu {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.8s ease;
        z-index: -1;
    }
    
      .menu.active {
        background: rgba(0,0,0,0.8);
        justify-content: center;
        align-items: center;
        top: 100%;
        opacity: 1;
        transition: all 0.8s ease;
        z-index: 99;
        height: 70vh;
        font-size: 1.6rem;
    }

    .logo {
      padding-left: 35px;
      font-size: 1.3rem;
    }
  
    .hamburger .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .item {
      width: 100%;
    }
  
    .links {
      text-align: center;
      padding: 1rem;
      width: 100%;
      display: table;
      font-size: 10px;
    }
  
    .btn {
      padding-bottom: 2rem;
    }
  
    .sign {
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      list-style: none;
      height: 40px;
      color: black;
      background-color: #25FF01;
      border-radius: 2px;
      box-shadow: inset 0 0 0 0 #2C3E50;
      transition: ease-out 0.7s;
      font-size: 10px;
      outline: none;
    }
    
    .sign:hover{
      box-shadow: inset 350px 0 0 0 #2C3E50;
      cursor: pointer;
      color: #25FF01;
      transition: all 0.8s ease;
    }
  
    #mobile {
      position: absolute;
      top: 25%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .hamburger .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  /* Hero Section  */

  .main__container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100vh;
    width: 100%;
    padding: 0 70px;
  }

  .main__content {
    color: #fff;
    width: 100%;
    text-align: left;
    padding: 50px 100px;
    border-left: 8px solid #25FF01;
  }

  .main__content h1 {
    font-size: 4rem;
    color: #25FF01;
  }

  .main__content h1:hover {
    letter-spacing: 5px;
    transition: 0.8s all ease;
  }
  .main__content h2 {
    font-size: 4rem;
    margin-top: 10px;
    color: #b721ff;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    color: white;
  }


  .main__img--container {
    text-align: center;
  }

  #main__img {
    height: 80%;
    width: 80%;
  }

  

  /* Mobile Responsive */
  @media screen and (max-width: 768px) {
    .main__container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
    }

    .main__content {
      text-align: center;
      margin-bottom: 4rem;
    }

    .main__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }

    .main__content h2 {
      font-size: 3rem;
    }

    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 480px) {

    .main__container{
        width: 100%;
        height: 100vh;
    }

    .main__content{
      text-align: center;
      width: 100%;
      position: absolute;
      border-right: 8px solid #25FF01;
    }
    
    .main__content h1 {
      font-size: 1.3rem;
      margin-top: 3rem;
    }

    .main__content h2 {
      font-size: 2rem;
    }

    .main__content p {
      margin-top: 2rem;
      font-size: 15px;
    }
}

/* Events Section  */

.events {
    background-color: #33383b;
    padding: 10rem 0;
    display: flex;
    height: 100vh;
}
  
.event__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
  
.event__content {
    color: #fff;
    width: 100%;
}
  
.event__content h1 {
    font-size: 4rem;
    color: #25FF01;
    text-transform: uppercase;
    margin-bottom: 32px;
}
  
  
.event__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: justify;
    color: white;
}
  
/* .event__btn {
    font-size: 1.2rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
  
.event__btn a {
    position: relative;
    color: #fff;
    text-decoration: none;
}
  
.event__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1ead;
    transition: all 0.35s;
    border-radius: 4px;
}
  
.event__btn:hover {
    color: #fff;
}
  
.event__btn:hover:after {
    width: 100%;
} */

.event__btn {
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 20px;
  /* padding: 0 1rem; */
  /* width: 180px; */
}

.available {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  height: 40px;
  color: black;
  background-color: #25FF01;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #2C3E50;
  transition: ease-out 0.7s;
  font-size: 1.2rem;
  outline: none;
}

.available:hover{
  box-shadow: inset 300px 0 0 0 #2C3E50;
  cursor: pointer;
  color: #25FF01;
  transition: all 0.8s ease;
}
  
.event__img--container {
    text-align: center;
}
  
.svg {
    margin: 10px;
    height: 400px;
    width: 400px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
  
/* Mobile Responsive */
@media screen and (max-width: 1100px) {
    
.event__container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      height: 90%;
}
  
.event__img--container {
      display: flex;
      justify-content: center;
}
  
.svg{
      height: 425px;
      width: 425px;
}
  
.event__content {
      text-align: center;
      margin-bottom: 4rem;
}
  
.event__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
}
  
.event__content h2 {
      font-size: 3rem;
}
  
.event__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
}
}
  
@media screen and (max-width: 480px) {
    
    .events{
        width: 100%;
        height: 130vh;
    }
    
    .svg{
      width: 250px;
      height: 250px;
    }
  
    .event__content h1 {
      font-size: 1.3rem;
      margin-top: 3rem;
    }
    .event__content h2 {
      font-size: 2rem;
    }
  
    .event__content p {
      margin-top: 2rem;
      font-size: 15px;
    }
  
    .event__btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
}

/* Services Section  */
.services{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      padding-top: 70px;
}

.heading{
    text-align: center;
}

.heading h1{
      color: #576975;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0px;
}

.heading p{
    color: rgba(87,105,117,0.6);
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
}

.s-box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    padding: 20px 25px;
    box-sizing: border-box;
    margin: 30px;
    background-color: #2C3E50;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.s-box h1{
    color: #25FF01;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.s-box p{
    padding-top: 20px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.s-box:hover{
    box-shadow:  2px 2px 30px rgba(0,0,0,0.8);
    transition: all ease 0.3s;
}

.s-box .bar{
    width: 100%;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #4a90e2;
    border-radius: 0 0 10px 10px;
    display: none;
    animation: bar 0.5s;
}

.s-box:hover .bar{
    display: block;
}

.svgser{
  width: 40%;
  height: 50%;
}

@keyframes bar{
    0%{
        width: 0px;
    }
    100%
    {
        width: 100px;
    }
}

@media(max-width:1050px)
{

    .s-box-container{
        flex-wrap: wrap;
    }

    .services{
        height: auto;
    }

    .heading{
        margin: 15px;
    }

    .s-box{
        flex-grow: 1;
    }
}

@media(max-width:480px)
{

    .s-box-container{
        flex-wrap: wrap;
    }

    .services{
        height: auto;
    }

    .heading{
        margin: 15px;
    }

    .heading h1{
      font-size: 1.3rem;
    }

    .heading p{
      font-size: 15px;
    }

    .s-box{
        flex-grow: 1;
        height: 300px;
        width: 250px;
    }

    .s-box h1{
      font-size: 1.3rem;
  }

  .s-box p{
    font-size: 15px;
}
}

/* Contact Section  */
.contacts{
    width: 100%;
    height: 120vh;
    background-color:#33383b;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-wrapper {
    margin-top: 90px;
    width: 500px;
    padding: 25px 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 50px -35px rgba(0, 0, 0, 2);
    border-radius: 3px;
  }
  
  .form-wrapper h2 {
    margin-bottom: 25px;
    color: #2C3E50;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
  }
  
  .form-wrapper .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: inline-block;
    margin-bottom: 8px;
    color: #212529;
    text-transform: capitalize;
  }
  
  .form-group .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #cccccc;
    outline: none;
  }
  
  .form-group textarea {
    height: 100px !important;
    resize: none;
  }
  
  .submit-btn {
    display: block;
    width: 100%;
    margin: 30px 0;
    padding: 12px 40px;
    color: #25FF01;
    background-color: #33383b;
    background-size: 200%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .submit-btn:hover {
    background-position: 100%;
    color: #2C3E50;
    background-color: #25FF01;
  }
  
  .star {
    color: #fd0000;
    font-size: 18px;
  }
  
  .optional {
    color: #707070;
    font-size: 14px;
  }
  
  /* Let's write the media query */
  @media (max-width: 480px) {
    
    .contacts{
        height: 120vh;
    }
    
    .form-wrapper {
      padding: 10px 25px;
      width: 100%;

    }

    .form-wrapper h2 {
      margin-bottom: 20px;
      font-size: 1.3rem;
    }

    .form-group label{
      font-size: 15px;
    }

    .form-group .form-control{
      font-size: 15px;
    }

    span .optional{
      font-size: 15px;
    }
  }
  

/* footer section  */
footer {
    /* position: fixed; */
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2C3E50;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #25FF01;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #25FF01;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

#insta:hover{
  background-color: palevioletred;
}

#red:hover{
  background-color: red;
}

.footer-links a:hover {
    color: #25FF01;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .footer-distributed h3 span{
        font-size: 25px;
    }
}       

@media (max-width: 480px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }

  .footer-distributed h3 span h1{
      font-size: 1.3rem;
  }
}     